<center><h1><i>The Gossip Project est dispo :</i></h1>
<h2>Bienvenue sur le site</h2>
<h3>Pour balancer ton potin</h3>
<a button type="button" href="/connexion" class="btn btn-outline-primary me-2">Clique ici</button></a>