<form>
   
    <center><i><h1 class="h3 mb-3 fw">Inscription</h1></i>

    <div class="form-floating col-5 m-3">
      <input type="first_name" class="form-control" id="floatingInput" placeholder="first_name">
      <label for="floatingInput">Ton prénom</label>
    </div>

    <div class="form-floating col-5 m-3">
      <input type="last_name" class="form-control" id="floatingInput" placeholder="last_name">
      <label for="floatingInput">Ton nom</label>
    </div>

    <div class="form-floating col-5 m-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Ton adresse mail</label>
    </div>

    <div class="form-floating col-5 m-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password">
      <label for="floatingPassword">Ton mot de passe</label>
    </div>

        <div class="form-floating col-5 m-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Vérifie ton mot de passe</label>
    </div>

    <div class="checkbox mb-3">
    </div>
    <button class="wbtn btn-lg btn-primary col-3 m-3" type="submit">Inscris-toi</button>
  </form></center>