<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container py-5">
    <div class="row mb-12">
      <div class="col-lg-12">
      <center>
        <h2 class="display-12 font-weight-light">Notre équipe</h2>
      </center> 
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pbs.twimg.com/media/DHfT1zSUIAARbz8.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">On m'appelle Larbi</h5><span class="small text-uppercase text-muted">En formation</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/larbi-ait-hamadouche/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/mynameislarbi" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pbs.twimg.com/media/DHfT1zSUIAARbz8.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">On m'appelle Loic</h5><span class="small text-uppercase text-muted">En formation</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/loic-paolucci-737045135/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/loicpaolucci" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://pbs.twimg.com/media/DHfT1zSUIAARbz8.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">On m'appelle Sami</h5><span class="small text-uppercase text-muted">En formation</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/sami-kannouch-528b3b22b/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/SamiKannoun" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
                